/debian/debhelper-build-stamp
/debian/files
/debian/winbox.debhelper.log
/debian/winbox.postinst.debhelper
/debian/winbox.postrm.debhelper
/debian/winbox.substvars
/debian/winbox/
/winbox.exe
debian/.debhelper/
winbox32.exe
winbox64.exe

