Source: winbox
Section: net
Priority: extra
Maintainer: Vitex <vitex@vitexsoftware.cz>
Uploaders: Vitexus <vitex@hippy.cz>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9.0.0), curl, wget, awk

Package: winbox
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libbrotli1, libbz2-1.0, libc6, libc6-dev, libegl1, libexpat1, libfontconfig1, libfreetype6, libgl1, libglvnd0, libglx0, libpng16-16t64, libx11-6, libx11-xcb1, libxau6, libxcb1, libxcb-glx0, libxcb-icccm4, libxcb-image0, libxcb-keysyms1, libxcb-randr0, libxcb-render0, libxcb-render-util0, libxcb-shape0, libxcb-shm0, libxcb-sync1, libxcb-util1, libxcb-xfixes0, libxcb-xkb1, libxdmcp6, libxkbcommon0, libxkbcommon-x11-0, zlib1g
Homepage: http://wiki.mikrotik.com/wiki/Manual:Winbox
Description: a small program that allows users to control and monitor Mikrotik RouterOS
 The package WinBox provides a native Linux interface (GUI) to configure MikroTik RouterOS devices.
