Package: winbox
Version: 3.0
Architecture: amd64
Maintainer: vitex <vitex@vitexsoftware.cz>
Installed-Size: 1624
Depends: wine
Section: net
Priority: optional
Homepage: https://www.vitexsoftware.cz/repos.php
Description: a small program that allows users to control and monitor Mikrotik RouterOS
 The package WinBox provide the interface (gui) to configure the Mikrotik OS
 router is  currently only running on the operating system microsoft windows
 and mac  with the ease we winbox in the Mikrotik OS router and the effect of
 the unix command shell that is Mikrotik OS router.
