Source: winbox
Section: net
Priority: optional
Maintainer: Vitex <vitex@vitexsoftware.cz>
Uploaders: Vitexus <vitex@hippy.cz>
Standards-Version: 4.6.2
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13), curl, wget, unzip, ca-certificates,
 libbrotli1, libbz2-1.0, libc6, libdbus-1-3, libegl1, libexpat1,
 libfontconfig1, libfreetype6, libgl1, libglvnd0, libglx0, libx11-6,
 libx11-xcb1, libxau6, libxcb1, libxcb-glx0, libxcb-icccm4, libxcb-image0,
 libxcb-keysyms1, libxcb-randr0, libxcb-render0, libxcb-render-util0,
 libxcb-shape0, libxcb-shm0, libxcb-sync1, libxcb-util1, libxcb-xfixes0,
 libxcb-xkb1, libxdmcp6, libxkbcommon0, libxkbcommon-x11-0,
 libpng16-16 | libpng16-16t64, zlib1g

Package: winbox
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Homepage: https://wiki.mikrotik.com/wiki/Manual:Winbox
Description: small program to control and monitor MikroTik RouterOS
 WinBox provides a native Linux GUI to configure and monitor MikroTik
 RouterOS devices.
